<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Collapsible sidebar using Bootstrap 3</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="stylesheets/entMain.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

        <script>

            $(document).ready(function(){
              var email = $('#email').val();
              var dataArray = [];

              var timeout = setInterval(AjaxCall, 30000);
              // var interval = setInterval(reRender, 30000);

              // function reRender(){
              //   fetch('http://222.106.254.22:3003/entMain', {
              //     method: 'get',
              //     // body: JSON.stringify(data),
              //     headers: new Headers({
              //       'Content-Type' : 'application/josn'
              //     })
              //   })
              //   .then(res => res.json())
              //   .then(data => console.log(data))
              //   .catch(err => console.log(err))
              //
              // }
              //
              //
              // // Enable pusher logging - don't include this in production
              // Pusher.logToConsole = true;
              //
              // var pusher = new Pusher('01f93658efa8acbae6af', {
              //   cluster: 'ap1',
              //   encrypted: true
              // });
              //
              // var channel = pusher.subscribe('render');
              // channel.bind('pusher-render', function(data) {
              //   alert(JSON.stringify(data));
              // });





              // entMsrData 업데이트 값 가져오는 ajax 함수///
      				function AjaxCall() {

                var user_email = $('#user_email').val();

                $.post("/updateData", { user_email: user_email } );


      					$.ajax({
      						url: '/updateData',
      						type: 'post',
      						data: {user_email: user_email},						// 사용자 식별할 기본키값 (db 쿼리에 필요한)
      						dataType: 'text',
      						success: function(data) {
      							var json = JSON.parse(data);
      							if (json.code == '1') {              // 업데이트 ok.
                      // dataArray.push(json.data);
                      // alert('dataArray : ' + dataArray);


                      // @@@@@@@@@@@@@@ test!!!!!! @@@@@@@@@@@@@@@@
                      // 1) 원래 방식 (redirect)
                      location.href="/entMain";

                      // 2) jquery로 값 넣어주는 방식
                      // for(i=0; i<json.rows.length; i++){
                      //   $("input[name='msrTemp']")[i].value = json.rows[i].msrTemp;
                      //   $("input[name='msrPH']")[i].value = json.rows[i].msrPH;
                      //   $("input[name='msrLED']")[i].value = json.rows[i].msrLED;
                      //   $("input[name='msrHeater']")[i].value = json.rows[i].msrHeater;
                      //
                      // }


      							} else {                           // 업데이트 실패했을 경우
                      // alert('장애가 발생했습니다.\n네트워크 환경을 다시 확인해주세요');
                      alert('측정할 데이터가 존재하지 않습니다.\n측정해주세요!!!!!!!!!!!!!!!!!!');
      							}
      						}
      					});
      				}


              // var socket = io.connect();
              // // 데이터에 변동이 생기면 socket 으로 데이터가 오고, data 를 받아서 사용자에게 즉각적으로 보여줌
              // $("#add_status").click(function(){                            // -> click 대신에  timer 30초마다 작동하도록 (변경하기)
              //   socket.emit('status added', user_id);
              // });
              // socket.on('refresh feed',function(msg){
              //   $("#show_comments").append(msg + '<br /><br />');
              // });


              $('#searchBox .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
              },
              {
                limit: 12,
                async: true,
                source: function (query, processSync, processAsync) {
                  clearInterval(timeout);
                  processSync();
                  return $.ajax({
                    url: "http://222.106.254.22:3003/search",
                    type: 'POST',
                    data: {query: query},
                    dataType: 'json',
                    success: function (data) {
                      // in this example, json is simply an array of strings
                      return processAsync(data);
                    }
                  });
                }
              });

      			});

  			</script>


    </head>
    <body>




        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Assistant</h3>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="../addDevice" class="article">추가하기</a></li>
                    <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">변경하기</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

              <!-- <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Sidebar</span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="headerList">Page</li>
                      <li class="headerList">Page</li>
                      <li class="headerList">Page</li>
                    </ul>
                  </div>
                </div>
              </nav> -->

              <nav class="navbar navbar-light bg-light justify-content-end" id="searchBox">
                <form class="form-inline">
                  <input class="typeahead form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </nav>


              <!-- 수조에 문제 생겼을 때 경고 -->

              <div class="container">
                <div class="row alert__box">
                  <div class="col-md-8 mb-3 alert__contents">
                    <div class="alert__title"><i class="fas fa-exclamation-triangle"></i>수조 이상 정보 알림</div><br>
                    <% if(message.length != 0){ %>
                    <ul class="list-group" id="list-group">
                      <% for(i=0; i<message.length; i++) { %>
                        <li class="list-group-item"><%= message[i].device_code %> - <%= message[i].msg %></li>
                      <% } %>
          					</ul>
                    <% } %>
                  </div>
                </div>
              </div>




<!-- 이부분 검색 test -->
<!--  -->

<!-- <div id="searchBox">
    <input id="search" style="float:right;"/>
</div> -->




              <input type="hidden" id="user_email" name="user_email" value="<%=user_email%>"/>


              <%  var i = 1; %>
              <%  var j = 0; %>
              <% if(msrData) { %>
              <div class="py-3">
                <div class="container">


                  <% msrData.forEach(function(item, index){ %>

                      <% if(i%4 == 1){ %>
                      <div class="row">
                      <% } %>

                        <div class="col-md-3">
                          <div class="card bg-light mb-4">
                            <div class="card-block">
                              <div class="card-header"><%= item.device_code %></div>
                              <div class="card-body">
                                <!-- <h5 class="card-title"><%= item.deviceName %></h5> -->

                                <p class="card-text">
                                  <h6 name="msrTemp">온도 : <%= item.msrTemp %></h6>
                                  <h6 name="msrPH">PH : <%= item.msrPH %></h6>
                                  <h6 name="msrLED">LED : <%= item.msrLED %></h6>
                                  <h6 name="msrHeater">히터 : <%= item.msrHeater %></h6>
                                  <h6 name="tank_name">수조 이름 : <%=configData[index].tank_name%></h6>

                                  <hr>

                                  <% speciesData.forEach(function(data, index){ %>
                                    <% if(item.device_code == data.device_code) { %>
                                      <h6><%=data.species_name%> X <%=data.num%></h6>
                                    <% } %>
                                  <% }); %>

                                </p>
                                <hr>
                                <!-- <a href="#" class="card-link"  name="goGraph" id="<%=item.device_code%>">그래프 보기</a> -->
                                <!-- <a href="/goGraph/<%=item.device_code%>" class="card-link" name="goGraph">그래프 보기</a> -->
                                <h6 onclick="graphPop('<%=item.device_code%>');" style="cursor:pointer;">그래프 보기</h6>
                              </div>
                            </div>
                          </div>
                        </div>

                      <% if(i%4 == 0){ %>
                      </div>
                      <% } %>
                      <% i = i+1; %>
                  <% }); %>


                </div>
              </div>
              <% } %>



            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">어종 검색</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <canvas id="myChart" width="400" height="400"></canvas>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">닫기</button>
                <button type="button" class="btn btn-primary" id="selectSpecies">선택</button>
              </div>
            </div>
          </div>
        </div>	<!-- Modal -->


        <script>
            function graphPop(device_code) {
                var windowOptions = 'width=1200, height=700, menubar=no, status=no,toolbar=no';
                window.open('/goGraph/'+device_code, "volunPop", windowOptions);
            }
        </script>


        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>
</html>
